<div class="container d-flex align-items-center justify-content-center">
  <div class="card-container">
    <div class="row g-3">
      <!-- Iteración de tarjetas -->
      <div
        class="col-12 col-md-6 col-lg-4"
        *ngFor="let item of data"
        [attr.aria-label]="'Información del examen ' + item.codigoExamen"
      >
        <mat-card>
          <!-- Cabecera del examen -->
          <mat-card-header>
            <mat-card-title>{{ item.codigoExamen }}</mat-card-title>
          </mat-card-header>

          <!-- Contenido del examen -->
          <mat-card-content>
            <p><strong>Nombre del Paciente:</strong> {{ item.pacienteFk.nombrePaciente }}</p>
            <p><strong>Número de Orden:</strong> {{ item.pacienteFk.numeroOrden }}</p>
            <p><strong>Resultado:</strong> {{ item.resultadoExamen }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
